* {
	margin: 0;
	padding: 0;
}

.container {
	background: #c50505;
	text-align: center;
	padding: 1rem;
	color: white;
}

.form-control {
	margin: 0 1rem;
}

h1 {
	font-family: 'Prompt', sans-serif;
}

.card {
	margin: 1rem;
	color: black;
	background: #ccc;
}

.card img {
	width: 100px;
	margin: auto;
}
