.card {
  margin: 1rem 0;
}

#logo {
  color: #ffcb05;
  font-family: "Luckiest Guy", cursive;
  font-size: 3rem;
}

#dexter {
  color: #3d7dca;
}

.nav-item:hover {
  text-decoration: underline;
}

#btn-male,
#btn-female {
  display: none;
}

.dropdown {
  display: none;
}

.rounded-lg,
.img-thumbnail {
  border: 3px solid;
}

#img-front,
#img-back {
  width: auto;
  height: auto;
  border: 3px solid;
}

.type {
  color: white;
  margin: 0 0.5rem;
  min-width: 85px;
  font-weight: bold;
}

.weight-flex,
.height-flex {
  min-width: 80px;
}

.damage-type {
  margin: 0.5rem;
  min-width: 145px;
}

.damage-multiplier {
  min-width: 50px;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* Color styling for each of the pokemon type badges */

.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #f08030;
}

.fighting {
  background-color: #c03028;
}

.water {
  background-color: #6890f0;
}

.flying {
  background-color: #a890f0;
}

.grass {
  background-color: #78c850;
}

.poison {
  background-color: #a040a0;
}

.electric {
  background-color: #f8d030;
}

.ground {
  background-color: #e0c068;
}

.psychic {
  background-color: #f85888;
}

.rock {
  background-color: #b8a038;
}

.ice {
  background-color: #98d8d8;
}

.bug {
  background-color: #a8b820;
}

.dragon {
  background-color: #7038f8;
}

.ghost {
  background-color: #705898;
}

.dark {
  background-color: #3d3937;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #ee99ac;
}

#output {
  display: none;
}

.grass-text {
  color: #78c850;
}

.fire-text {
  color: #f08030;
}

.water-text {
  color: #6890f0;
}
