body {
  padding-top: 1rem;
}

.card {
  margin: 1rem 0;
}

#btn-male,
#btn-female {
  display: none;
}

#img-front,
#img-back {
  min-width: 130px;
  min-height: 130px;
  width: auto;
  height: auto;
}

.type {
  color: white;
  margin-left: 1rem;
  min-width: 65px;
}

/*Removes the left margin on the first type box*/
.type:first-of-type {
  margin-left: 0;
}

.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #f08030;
}

.fighting {
  background-color: #c03028;
}

.water {
  background-color: #6890f0;
}

.flying {
  background-color: #a890f0;
}

.grass {
  background-color: #78c850;
}

.poison {
  background-color: #a040a0;
}

.electric {
  background-color: #f8d030;
}

.ground {
  background-color: #e0c068;
}

.psychic {
  background-color: #f85888;
}

.rock {
  background-color: #b8a038;
}

.ice {
  background-color: #98d8d8;
}

.bug {
  background-color: #a8b820;
}

.dragon {
  background-color: #7038f8;
}

.ghost {
  background-color: #705898;
}

.dark {
  background-color: #3d3937;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #ee99ac;
}

#output {
  display: none;
}
